name: ltp

services:
  linear-ticket-printer:
    image: linear-ticket-printer:latest
    ports:
      - 8000:8000
    environment:
      - LINEAR_SIGNING_SECRET=
      # - COMPANY_NAME=
      # - COMPANY_ADDRESS_LINE1=
      # - COMPANY_ADDRESS_LINE2=
      # - COMPANY_ADDRESS_LINE3=
      # - COMPANY_URL=
      # - COMPANY_PHONE=
      # - COMPANY_TAGLINE=
    restart: unless-stopped

  cloudflared:
    image: docker.io/cloudflare/cloudflared:2025.6.1
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    restart: unless-stopped
